.node_modules
dist
build
coverage
*.log
.env
.DS_Store
.idea
.vscode
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.bak
*.tmp
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*